*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'roboto', sans-serif;
	margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5) ;
	color: white;
	background-color: darkorange;
}
button:hover{
	background-color: rgb(202, 138, 59);
}

.container{
	max-width: 1400px;
	margin: auto;
}

.color-acento{color: darkorange;}

header{
	background-color: rgb(245,245,245);
}

header .logo{
margin: 0;
padding: 25px 30px;
font-weight: bold;
color: darkorange;
font-size: 1.6em;
}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
	display: flex;
flex-direction: column;
text-align: center;
padding-bottom: 25px;
}

header a{
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

header a:hover{
	color: darkorange;
}
#header1{
	margin: 0;
padding: 25px 30px;
font-weight: bold;
color: darkorange;
font-size: 1.6em;
}
#clima{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(./imagenes/mapa\ sena.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#clima h4{
	color: darkorange;
}

#hero{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(./imagenes/mapa\ sena.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#clima .container{
	text-align: center;
	padding: 200px 12px;
}

#SomosRuta-Amigaap .container{
	text-align: center;
	padding: 200px 12px;
}
#Nuestros-beneficios{
	background-color: rgba(30,30,30);
	color: white;
	text-align: center;
}
#Nuestros-beneficios .container{
padding: 150px 12px;
}
#Nuestros-beneficios h2{
	margin-top: 0;
	font-size: 3.2em;
}
.carta:first-child{
	background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(./imagenes/rutas-tiempo-real.jpg);
	background-position: center center;
	background-size: cover;
	padding: 50px 0px;
	margin: 20px;
	border-radius: 15px;
}

.carta:nth-child(2){
	background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(./imagenes/seguridad.jpg);
	background-position: center center;
	background-size: cover;
	padding: 50px 0px;
	margin: 20px;
	border-radius: 15px;
}

.carta:nth-child(3){
	background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(./imagenes/foro.png);
	background-position: center center;
	background-size: cover;
	padding: 50px 0px;
	margin: 20px;
	border-radius: 15px;
}

#caracteristicas .container{
	 text-align: center;
	 background-color: darkorange;
	 color: white;
	 text-align: center;
	 
}

#caracteristicas li{
margin: 15px 0px;

}

footer{
	background-color: rgb(230,230,230);
}
footer p{
margin: 0;
padding: 12px;
color: rgb(100,100,100);
}

footer .container{
height: 150px;
display: flex;
justify-content: center;
align-items: flex-end;
}

@media(min-width:720px){
	header{
		position: fixed;
		width: 100%;
	}

header .container{
	flex-direction: row;
	justify-content: space-between;
}
header nav{
	flex-direction:row;
	padding-bottom: 0;
  padding-right: 20px;
}

#hero h1{
	font-size: 5em;
}

#SomosRuta-Amigaap .container{
display: flex;
justify-content: space-evenly;
}

#SomosRuta-Amigaap .texto{
	width: 50%;
	max-width: 600px;
	text-align: initial;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

#SomosRuta-Amigaap h2{
margin: 0px;
}

#SomosRuta-Amigaap .img-container{
	background-image:url("./imagenes/quienes-somos.jpg");
	background-size: cover;
	background-position: center center;
	height: 500px;
	width: 500px;
}


}